## My custom ignores
#For the folders inside a main folder (for organization, like Testes/CAL-Teste1617)
*/*/cute_lib/
*/*/cmake-build-debug
*/*/CMakeLists.txt
*/*/.idea

#For the folders outside a main folder, just in case
*/cute_lib/
*/cmake-build-debug
*/CMakeLists.txt
*/.idea

## C++

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
